NODE_ENV=development
PORT=4000
FRONTEND_HOME_URL=http://localhost:5173/

DB_HOST=orion.myip.gr
DB_PORT=5432
DB_USER=metakomhsh_taxikavala
DB_PASSWORD=%Wt9YTp.@W$RJiB=
DB_NAME=metakomhsh_test_taxi

SMTP_HOST=mail.avtaxi.gr
SMTP_PORT=587          # ή 2525. Μην βάλεις 465 εκτός αν θέλεις SSL.
SMTP_USER=info@avtaxi.gr
SMTP_PASS=JR)3~GE#QGwC!@BA
SMTP_SECURE=false      # true μόνο αν χρησιμοποιήσεις port 465
SMTP_FROM="AVTaxi <info@avtaxi.gr>"

# για το link του review
PUBLIC_REVIEW_URL_BASE=http://localhost:5173/review/

REVIEW_TOKEN_TTL_DAYS=20

# RECAPTCHA_SECRET=6LeMKsIrAAAAAA6aKswxa4-VjbhSaRiiOs_o2_rc
# RECAPTCHA_MIN_SCORE=0.2
# RECAPTCHA_REQUIRED=true
# RECAPTCHA_EXPECT_ACTION=admin_login
# RECAPTCHA_ENFORCE_HOSTNAME=false
# RECAPTCHA_ALLOWED_HOSTNAME=localhost


# RECAPTCHA_DEBUG=true

BCRYPT_SALT_ROUNDS=12

JWT_SECRET=taxi_apps_user_gettaxi_key_jwtstoken
JWT_EXPIRES_IN=1h